
.gen{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    text-align: center;
    h3{
    text-align: center;
    color: rgb(108, 181, 206);
            font-weight: 400;
}
img{
    height: 300px;
}
}