.SelectL{
    margin-top: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    input,select{
        margin-right: 30px;
        
    }
    select{
        background-color: rgb(135, 222, 186);
        border: 1px solid transparent;
        padding: 4px;
    }
    button{
        outline: 1px solid green;
        border: none;
        padding: 4px;
        padding-left: 6px;
        padding-right: 6px;
    }
    button:hover{
        background-color: green;
        color: wheat;
    }
}
@media screen and (max-width: 990px){

.SelectL{
    input,select{
    margin-right: 30px;
    display: block;
}}}